<div class="card">
  <div class="header">
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
    <img src="./assets/planta1.jpg">
  </div>
  <div class="main">
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="details">
      <div class="option">
        <span class="option-title">Test text: </span>
        <span>option</span>
      </div>
      <div class="option">
        <span class="option-title">Test text: </span>
        <span>option</span>
      </div>
      <div class="option">
        <span class="option-title">Test text: </span>
        <span>option</span>
      </div>
      <div class="option">
        <span class="option-title">Test text: </span>
        <span>option</span>
      </div>
    </div>
  </div>
  <button class="button">Adaugă la favorite</button>
</div>
