/* You can add global styles to this file, and also import other style files */

@import 'styles/variables.scss';

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body, html {
  width: 100%;
}

body {
  background: rgb(213,227,208);
  background: linear-gradient(152deg, rgba(213,227,208,1) 0%, rgba(172,195,165,1) 39%, rgba(122,203,124,1) 100%);
  backdrop-filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  border-radius: 20px;
  box-shadow: none;
  padding: 1em 5em;
  border: none;
  color: white;
  background: rgb(88,192,138);
  background: linear-gradient(90deg, rgba(88,192,138,1) 0%, rgba(122,203,124,1) 100%);

  &:hover {
    cursor: pointer;
  }
}
